:root {
  /* colors */
  --primary-color-200: #cf4278;
  --primary-color-300: #dc4480;
  --primary-color-400: #fc5193;
  --gray-200: #fff2fb;
  --gray-400: #fdc2df;
  --white: #fff;
  --black: #000;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--gray-200);
}

.loading,
.noCountries {
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 1.2rem;
}

.error {
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  color: rgb(119, 0, 0);
}
